huggingface_hub[hf_transfer]

# TODO: IBM Granite Snack Cookbook requirements
# See: https://github.com/ibm-granite-community/granite-snack-cookbook/
# recipe: granite-snack-cookbook/recipes/Intrinsics/Granite_RAG_LoRA_HF.ipynb

# langchain-milvus
# langchain_community
# langchain_ollama

# docling
# git+https://github.com/ibm-granite-community/utils.git
